<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  {{ head | safe }}
  {% block css %}<style>
{{ css | safe }}
  </style>{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>