<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  {{ head | safe }}
  {% block css %}<style>
{{ css | safe }}
  </style>{% endblock %}
  <script type="text/javascript">(function(w,s){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src="https://cdn.pagesense.io/js/incrementalsoftware/252aa710b6eb481e947b46fea5353ae6.js";var x=document.getElementsByTagName("script")[0];x.parentNode.insertBefore(e,x);})(window,"script");</script>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>